.AlbumCover {
  flex: 0 0 auto;
  padding-right: 0px;
  padding-bottom: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
} 

.AlbumCover img {
  height: 600px;
  width: auto;
}

.AlbumCover span {
  font-family: 'Walter Turncoat', cursive;
  font-weight: bolder;
  font-size: 33px;
}

@media (max-width: 1700px) {
  .AlbumCover img {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .AlbumCover img {
    height: 400px;
  }

  .AlbumCover span {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bolder;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .AlbumCover img {
    height: 350px;
  }

  .AlbumCover span {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bolder;
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .AlbumCover img {
    height: 300px;
  }

  .AlbumCover span {
    font-family: 'Walter Turncoat', cursive;
    font-weight: bolder;
    font-size: 20px;
  }
}
