.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
}


/* 
.Toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
} */


/* .Toolbar nav {
    height: 100%;
} */

/* @media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
} */


