.About {
  font-family: 'Walter Turncoat', cursive;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.About::-webkit-scrollbar {
  display: none;
}
.About h1 {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: 'Walter Turncoat', cursive;
}
.paragraph {
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 25px;
  text-align: justify;
}
.image {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contacts {
  margin: 50px;
  margin-top: 150px;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
}
.contacts a {
  text-decoration: none;
  color: darkblue;
  font-weight: bolder;
}
.contacts h2 {
  font-family: 'Walter Turncoat', cursive;
  font-weight: bolder;
}
@media (max-width: 1025px) {
  .About {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .About h1 {
    font-size: 60px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .contacts {
    margin: 0px;
  }
  .contacts h2 {
    font-size: 20px;
  }
  .contacts a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .About {
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px
  }
  .paragraph {
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 15px;
    text-align: justify;
  }
  .contacts {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
  }
  .contacts h2 {
    font-size: 15px;
  }
  .contacts a {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .About {
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px
  }
  .About h1 {
    font-size: 40px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .paragraph {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 15px;
    text-align: justify;
  }
  .image {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .contacts {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    text-align: center;
  }
  .contacts h2 {
    font-size: 15px;
  }
  .contacts a {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .About {
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px
  }
  .About h1 {
    font-size: 35px;
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .paragraph {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 15px;
    text-align: justify;
  }
  .image {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .contacts {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    text-align: center;
  }
  .contacts h2 {
    font-size: 15px;
  }
  .contacts a {
    font-size: 12px;
  }
}
@media (max-width: 361px) {
  .About h1 {
    font-size: 28px;
  }
  .paragraph {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 10px;
    text-align: justify;
  }
  .image {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contacts {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    text-align: center;
  }
  .contacts h2 {
    font-size: 10px;
  }
  .contacts a {
    font-size: 10px;
  }
}



