.LangSel {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
  padding: 5%;
  cursor: pointer;
}

.button {
  text-align: center;
  margin: 20px;
}

.button button {
  border: none;
  background-color: transparent;
  font-family: 'Walter Turncoat', cursive;
  font-weight: lighter;
  font-size: 33px;
}